<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Mickael Faivre-Macon" />
	<meta name="keywords" content="movies" />
	<meta name="description" content="Movies" />
	<meta name="robots" content="all" />
	<title>Movies - Quels sont les meilleurs films &agrave; regarder ?</title>
	<%= javascript_include_tag "application", "prototype", "effects", "controls" %>
	<style type="text/css" title="currentStyle" media="screen">
		@import '/stylesheets/styles.css';
	</style>
	<link rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.ico" />	
</head>
<body>
<div id="container">
<div id="logo">Movies</div>
<% cur = @controller.class.controller_path -%>
<ul id="header">
<span id="clock"><%=Date.today.strftime('%A %b %d %Y')%></span>
<span <% if cur=="welcome" then%>id="currentmenuline" <%end%>class="menuline"><a href="/">r&eacute;sum&eacute;</a></span>
<span <% if cur=="movie" then%>id="currentmenuline" <%end%>class="menuline"><a href="/movie">films</a></span>
<span <% if cur=="myinfo" then%>id="currentmenuline" <%end%> class="menuline"><a href="/myinfo">profile</a></span>
<span id="logout"><a href="/account/logout">sortir</a></span>
</ul>
<div id="side">
Bienvenue <%=session['user']['name']%>.<br/>
<br/>

<div id="notice"><% if flash[:notice] -%><h3>Notice</h3><%= flash[:notice] %><% end -%></div>
<div id="info"><% if flash[:info] -%><h3>Info</h3><%= flash[:info] %><% end -%></div>  
<div id="members"><% if flash[:members] -%><%= flash[:members] %><% end -%></div>  

</div>

<div id="content">
<% form_remote_tag(:url=>'/movie/search', :update=>'entry') do %>

Recherche:
<%= text_field(:movie, :title) %>

<% end %>

<div id="entry">
<%
if @entry 
    opinions = @entry.opinions
    my = session['user'].movies.include?(@entry)
%>
<%= render(:partial=>'entry', :locals=>{:opinions=>opinions, :my=>my}) %>
<%
end
%>
</div>

<br/>

<div id="yield">
<%= yield %>
</div>

<p><br/></p>
</div>

<div id="footer">
Movies beta version |
Tested mainly with firefox |
For any ideas, please write to us: <a href="mailto:protask@protaskm.com">protask@protaskm.com</a>
</div>

</div>

</body>
</html>
