<li>
<%=link_to_remote('Voir', {:url=>{:controller=>'movie', :action=>'entry', :id=>last.id}, :update=>'entry'})%>
<i>"<%= last.title %>"</i>
dirig&eacute; par <b><%= last.director %></b>
(<%= last.year %>)
Note: <%= last.rating %>
</li>

