<li <% if session['user'] and session['user'].movies.include?(last)%>class="tosee"<%end%>>
<%=link_to_remote('Voir', {:url=>{:controller=>'movie', :action=>'entry', :id=>last.id}, :update=>'entry',:loading=>"loading('last#{last.id}',true)",:loaded=>"loading('last#{last.id}',false)"},{:id=>"last#{last.id}"})%>
<i>"<%= last.title %>"</i>
dirig&eacute; par <b><%= last.director %></b>
(<%= last.year %>)
Note: <%= last.rating %>
Vues: <%= last.opinions.size %>
</li>
