<li>
<%=link_to_remote('Voir', {:url=>{:controller=>'movie', :action=>'entry', :id=>my_movies.id}, :update=>'new'})%>
<i>"<%= my_movies.title %>"</i>
dirig&eacute; par <b><%= my_movies.director %></b>
(<%= my_movies.year %>)
<%= my_movies.rating %>/5
</li>

