<% my = (opinion.user_id == session['user']['id'].to_i) %>
<div class="comment <%=my ? 'my':''%>">

<div id="user"><%= opinion.user.name %></div>
<b>Note</b>: <%=opinion.rating%>/5
<% if my %>
<%= link_to_remote('Editer', {:url=>{:controller=>'movie',:action=>'edit_comment', :id=>opinion}, :update=>'new'}, {:class=>'btnlnk'}) %>
<% end %>

<br/>
<%=opinion.comment%>
(<%= time_ago_in_words(opinion.created_at)%> ago)<br/>

</div>
