Aucun film trouv&eacute;. Ajoutez votre film:<br/>
<br/>
<% form_remote_tag(:url=>'movie/create', :update=>'new') do %>
<label for="movie_title">Titre (fr):</label>
<%= text_field(:movie, :title) %><br/>
<label for="movie_year">Ann&eacute;e</label>
<%= text_field(:movie, :year) %><br/>
<label for="movie_director">Directeur</label>
<%= text_field(:movie, :director) %><br/>

<label for="assoc_descr">Note</label>
<%= radio_button(:opinion, :rating, 1) %> 1
<%= radio_button(:opinion, :rating, 2) %> 2
<%= radio_button(:opinion, :rating, 3) %> 3
<%= radio_button(:opinion, :rating, 4) %> 4
<%= radio_button(:opinion, :rating, 5) %> 5<br/>

<label for="opinion_descr">Commentaires</label>
<%= text_area(:opinion, :comment) %><br/>


<input type="submit" value="Ajouter &#187;" class="submitbutton" />

<% end %>

