Aucun film trouv&eacute;. Ajoutez votre film:<br/>
<br/>
<% form_tag(:action=>'create') do %>
<label for="movie_title">Titre (fr)</label>
<%= text_field(:movie, :title) %><br/>
<label for="movie_year">Ann&eacute;e</label>
<%= text_field(:movie, :year) %><br/>
<label for="movie_director">Réalisateur</label>
<%= text_field(:movie, :director) %><br/>

<label for="opinion_rating">Note</label>
<% for i in (0..10) do %>
<%= radio_button(:opinion, :rating, i) %> <%=i%>
<% end %>
<br/>

<label for="opinion_comment">Votre revue</label>
<%= text_area(:opinion, :comment) %><br/>

<ol id='urls'></ol>

<%= link_to_remote("Ajouter une adresse", :url=>{:controller=>"url", :action=>"create_form"}, :update=>'urls', :position=>:bottom)%><br/>
Les liens avec un nom vide ne seront pas ajout&eacute;s
<br/>
<input type="submit" value="Ajouter ce film &#187;" class="submitbutton" />

<% end %>

