<li id="movie_<%=search_result.id%>">
<i>"<%= search_result.title %>"</i>
dirig&eacute; par <b><%= search_result.director %></b>
(<%= search_result.year %>)
<%= link_to_remote('Ajouter &agrave; mes films',:url=>{:controller=>'movie',:action=>'edit_comment_before_add',:id=>search_result.id}, :update=>'movie_'+search_result.id.to_s)%>
</li>

