<li <% if session['user'].movies.include?(last.movie)%>class="tosee"<%end%>>
(<%= last.rating %>/5) <b><%= last.user.name%></b>: <%= last.comment %>
<%=link_to_remote('Voir', {:url=>{:controller=>'movie', :action=>'entry', :id=>last.movie.id}, :update=>'entry',:loading=>"loading('c#{last.id}',true)",:loaded=>"loading('c#{last.id}',false)"},{:id=>"c#{last.id}"})%>
<b>"<%= last.movie.title %>"</b>
<br/>
</li>

